* {
  margin: 0px;
  padding: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#geral {
  height: 650px;
  background-color: #050023;
}

.topo h1 {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}

.topo p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 30px;
}

.botao {
  color: #050023;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background-color: #1c51ff;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 15px 33px 15px 33px;
}

.botao:hover {
  color: #1c51ff;
  background-color: #ffffff;
}

#portexterno {
  background: #140e3a;
}

.portitem span {
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  color: #3772ff;
  justify-content: center;
  text-transform: uppercase;
}

.portitem h2 {
  display: flex;
  color: #ffffff;
  justify-content: center;
}

#portfolio {
  display: flex;
  justify-content: center;
  background-color: #140e3a;
  height: 900px;
}

.portfolio-image {
  display: flex;
  gap: 20px;
  width: 990px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.imagem-item1 img {
  border-radius: 8px;
  width: 310px;
  height: 350px;
}

.imagem-item2 img {
  border-radius: 8px;
  width: 310px;
  height: 350px;
}

.imagem-item3 img {
  border-radius: 8px;
  width: 310px;
  height: 350px;
}
.imagem-item4 img {
  border-radius: 8px;
  width: 310px;
  height: 350px;
}
.imagem-item5 img {
  border-radius: 8px;
  width: 310px;
  height: 350px;
}
.imagem-item6 img {
  border-radius: 8px;
  width: 310px;
  height: 350px;
}

#faturamento {
  display: flex;
  justify-content: center;
  background: #050023;
}

.faturamento {
  display: flex;
  width: 990px;
  height: 500px;
}

.faturamento-right img {
  width: 430px;
  height: 430px;
  padding-left: 40px;
}

.faturamento-titulo {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 1.55rem;
  color: #ffffff;
  line-height: 35px;
}
.faturamento-texto {
  color: #ffffff;
  line-height: 25px;
  padding-bottom: 25px;
  width: 403px;
}

.button {
  color: #050023;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background-color: #1c51ff;
  border: none;
  display: block;
  border-radius: 4px;
  padding: 15px 33px 15px 33px;
  cursor: pointer;
}

.button:hover {
  color: #1c51ff;
  background-color: #ffffff;
}

footer {
  display: flex;
  align-items: center;
  padding-left: 150px;
  height: 70px;
  background-color: #140e3a;
}

.copy {
  color: #ffffff;
  font-size: 1rem;
  padding: 20px;
}
